body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
  transition: 300ms linear;
}

* {
  transition: 300ms linear;
}

.nav {
  position: absolute;
  top: 65px;
  width: 100%;
  height: 40px;
  display: flex;
  align-self: center;
  justify-content: space-around;
  gap: 15%;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  gap: 20px;
}

.nav__logo .logo__left {
  display: flex;
  align-items: center;
}

.nav__logo .logo__right h2 {
  font-size: 27px;
  margin: 0;
}

.nav__logo .logo__right h3 {
  font-size: 15px;
  font-weight: 100;
  margin: 0;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  z-index: 2;
  transform-origin: top;
}

.nav__links .link_first {
  color: #31d8da;
}

.nav__links.open-nav__links {
  height: 350px;
  bottom: -370px;
}

.nav__links.active {
  transform: scaleY(1);
}

.nav__links a {
  font-size: 15px;
}

.nav__links a:hover {
  color: #31d8da;
}

.nav__links .about {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav__links .about .about__hover {
  background-color: white;
  position: absolute;
  color: gray;
  bottom: -80px;
  left: -30px;
  width: 140px;
  height: 60px;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px -1px rgba(49, 216, 218, 0.75);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(49, 216, 218, 0.75);
  -moz-box-shadow: 0px 0px 5px -1px rgba(49, 216, 218, 0.75);
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.nav__links .about:hover .about__hover {
  display: flex;
}

.nav__links .about:hover .about__hover a {
  color: gray;
}

.nav__links .about:hover .about__hover a:hover {
  color: #31d8da;
}

.nav__links .about:hover a {
  color: #31d8da;
}

.nav__links .about:hover i {
  color: #31d8da;
}

.nav__links .about i {
  cursor: pointer;
  color: white;
  font-size: 10px;
  margin-top: 2px;
}

.nav__links .mobile-about__hover {
  width: 100%;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  display: none;
  flex-direction: column;
  align-items: center;
}

.nav__links .mobile-about__hover a {
  width: calc(100% - 50px);
  padding-left: 50px;
  height: 35px;
  display: flex;
  align-items: center;
}

.nav__links .mobile-about__hover.open {
  display: flex;
  height: 70px;
  transform: scale(1);
}

.nav__menu {
  position: absolute;
  right: 50px;
  width: 25px;
  height: 40px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.nav__menu span {
  width: 25px;
  height: 3px;
  background-color: white;
}

.section-header {
  width: 100%;
  min-height: 90vh;
  background-image: url(../../images/section-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.section-header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.section-header__content h6 {
  position: relative;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
}

.section-header__content h6::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: #31d8da;
}

.section-header__content h1 {
  text-transform: capitalize;
  text-align: center;
  max-width: 600px;
  color: white;
  font-size: 50px;
  font-weight: 400;
  margin-top: -20px;
}

.section-header__content p {
  color: white;
}

.section-header__content a {
  font-size: 14px;
  background-color: #31d8da;
  padding: 20px 45px;
  border-radius: 100px;
}

@media (min-width: 1600px) {
  .nav {
    width: calc(100% - 20%);
    padding: 0 10%;
    justify-content: space-between;
  }
  .nav__logo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .nav {
    width: calc(100% - 120px);
    padding: 0 60px;
    gap: 0;
    justify-content: space-between;
  }
  .nav__links {
    gap: 40px;
  }
  .nav__logo {
    margin-left: 0;
  }
  .section-header {
    height: 92vh;
  }
}

@media (max-width: 1200px) {
  .nav {
    width: calc(100% - 40px);
    padding: 0 20px;
    top: 50px;
  }
  .nav__links {
    gap: 35px;
  }
  .nav__links a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav__links {
    background-color: white;
    position: absolute;
    bottom: -320px;
    width: 95%;
    height: 300px;
    padding: 0;
    transform: scaleY(0);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 0;
  }
  .nav__links .link_first {
    background-color: #31d8da;
    color: white;
  }
  .nav__links .link_first:hover {
    color: white;
  }
  .nav__links a {
    color: gray;
    width: calc(100% - 20px);
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .nav__links .about:hover .about__hover {
    display: none;
  }
  .nav__links .about:hover .about__hover a {
    color: gray;
  }
  .nav__links .about:hover .about__hover a:hover {
    color: #31d8da;
  }
  .nav__links .about {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .nav__links .about a {
    width: calc(100% - 20px);
    padding-left: 20px;
    height: 100%;
  }
  .nav__links .about i {
    color: black;
    margin-right: 30px;
    font-size: 15px;
  }
  .nav__links .about:hover .about__hover {
    display: none;
  }
  .nav__logo {
    position: absolute;
    left: 50px;
  }
  .nav .nav__menu {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .nav__links {
    height: 280px;
    bottom: -300px;
  }
  .nav__links a {
    padding-left: 20px;
  }
  .nav__links .about {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .nav__links .about a {
    padding-left: 20px;
  }
  .section-header__content {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .section-header {
    height: 100vh;
  }
  .section-header__content {
    width: 100%;
    margin-top: 100px;
    gap: 10px;
  }
  .section-header__content h1 {
    width: 100%;
    margin: 0;
  }
  .nav__logo {
    left: 15px;
  }
  .nav__menu {
    right: 30px;
  }
  .nav .about i {
    font-size: 18px;
  }
  .about-section {
    margin-bottom: 350px;
  }
}

.about-section {
  height: 600px;
  display: grid;
  justify-content: center;
  grid-template-columns: 35% 60%;
  padding: 8% 17%;
  gap: 5%;
}

.about-section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-section__left h1 {
  position: relative;
  font-weight: 100;
  font-size: 30px;
}

.about-section__left h1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 45px;
  height: 2px;
  background: #31d8da;
}

.about-section__left h4 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 100;
  color: #333333;
  margin-bottom: 0;
}

.about-section__left p {
  color: gray;
  font-size: 17px;
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 50px;
}

.about-section__left a {
  width: 100px;
  text-align: center;
  font-size: 14px;
  background-color: #31d8da;
  padding: 20px 30px;
  border-radius: 100px;
}

.about-section__right img {
  width: 99%;
}

@media only screen and (max-width: 1600px) {
  .about-section {
    padding: 8% 10%;
  }
}

@media only screen and (max-width: 1400px) {
  .about-section {
    padding: 8% 5%;
  }
}

@media only screen and (max-width: 1100px) {
  .about-section {
    padding: 6% 40px;
  }
  .about-section h1 {
    font-size: 25px;
    font-weight: 500;
  }
  .about-section h4 {
    font-size: 17px;
  }
  .about-section p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .about-section {
    padding: 5% 20px;
  }
  .about-section__left h4 {
    font-size: 16px;
  }
  .about-section__left p {
    font-size: 13px;
  }
  .about-section__right img {
    height: 340px;
  }
}

@media only screen and (max-width: 900px) {
  .about-section {
    grid-template-columns: 1fr;
  }
  .about-section__left h1::after {
    width: 70px;
  }
  .about-section__left p {
    font-size: 14px;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 600px) {
  .about-section {
    padding: 5% 10px;
  }
}

.course {
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35%;
  background-image: url(../images/section-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.course__section {
  width: 470px;
}

.course__section h1 {
  position: relative;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}

.course__section h1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 55px;
  height: 2px;
  background-color: #31d8da;
}

.course__section p {
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.5;
}

.course__section a {
  text-align: center;
  font-size: 14px;
  background-color: #31d8da;
  padding: 22px 53px;
  border-radius: 100px;
}

@media only screen and (max-width: 1100px) {
  .course__section {
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .course {
    margin-top: 25%;
    padding-left: 22%;
    height: 300px;
  }
  .course__section {
    width: 350px;
  }
  .course__section h1 {
    font-size: 18px;
  }
  .course__section p {
    font-size: 15px;
  }
  .course__section a {
    padding: 15px 35px;
  }
}

@media only screen and (max-width: 720px) {
  .course {
    margin-top: 35%;
    padding-left: 8%;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .course {
    margin-top: 60%;
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  background: rgba(158, 155, 155, 0.2);
  padding: 3rem;
}

.pricing__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  text-align: center;
}

.pricing__text__section {
  width: 600px;
}

.pricing__text__section h1 {
  position: relative;
  font-size: 35px;
  font-weight: lighter;
}

.pricing__text__section h1::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #31d8da;
}

.pricing__text__section p {
  font-weight: 300;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.pricing__prices {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 2rem;
  justify-content: center;
}

.pricing__prices__price {
  position: relative;
  height: 500px;
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.pricing__prices__price::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #31d8da;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 200ms linear;
}

.pricing__prices__price:hover::after {
  opacity: 1;
}

.pricing__prices__price h1 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 0;
}

.pricing__prices__price h2 {
  font-size: 40px;
  font-weight: 500;
}

.pricing__prices__price p {
  font-size: 15px;
  color: gray;
  margin-bottom: 0;
}

.pricing__prices__price ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.pricing__prices__price ul li {
  color: gray;
  margin-bottom: 30px;
}

.pricing__prices__price ul li:not(:last-child) {
  margin-bottom: 20px;
}

.pricing__prices__price button {
  padding: 18px 50px;
  background-color: #31d8da;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
}

.pricing__prices__price button:hover {
  background-color: #989da2;
}

@media only screen and (max-width: 1350px) {
  .pricing__prices {
    grid-template-columns: repeat(3, 370px);
  }
}

@media only screen and (max-width: 1250px) {
  .pricing__prices {
    grid-template-columns: repeat(3, 330px);
  }
}

@media only screen and (max-width: 1150px) {
  .pricing__prices {
    grid-template-columns: repeat(3, 320px);
  }
}

@media only screen and (max-width: 1100px) {
  .pricing__text__section {
    width: 500px;
  }
  .pricing__prices {
    gap: 1.2rem;
  }
  .pricing__prices__price {
    height: 400px;
  }
  .pricing__prices__price h1 {
    font-size: 25px;
  }
  .pricing__prices__price h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .pricing__prices__price p {
    font-size: 13px;
  }
  .pricing__prices__price ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
  .pricing__prices__price ul li {
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
  }
  .pricing__prices__price ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .pricing__prices__price button {
    padding: 18px 50px;
    background-color: #31d8da;
    border-radius: 50px;
    border: none;
    color: white;
  }
}

@media only screen and (max-width: 1062px) {
  .pricing__prices {
    grid-template-columns: repeat(3, 270px);
  }
  .pricing__prices__price {
    height: 350px;
  }
  .pricing__prices__price p {
    margin-bottom: -18px;
  }
  .pricing__prices__price ul {
    margin-bottom: 0;
  }
  .pricing__prices__price ul li {
    font-size: 14px;
  }
  .pricing__prices__price button {
    padding: 15px 35px;
  }
}

@media only screen and (max-width: 900px) {
  .pricing__prices {
    grid-template-columns: repeat(2, 300px);
    gap: 1.2rem;
  }
  .pricing__prices__price {
    height: 350px;
  }
  .pricing__prices__price h1 {
    font-size: 25px;
  }
  .pricing__prices__price h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .pricing__prices__price p {
    font-size: 13px;
  }
  .pricing__prices__price ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
  .pricing__prices__price ul li {
    font-size: 15px;
    color: gray;
  }
  .pricing__prices__price ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .pricing__prices__price button {
    padding: 18px 50px;
    background-color: #31d8da;
    border-radius: 50px;
    border: none;
    color: white;
  }
}

@media only screen and (max-width: 720px) {
  .pricing__prices {
    grid-template-columns: repeat(1, 400px);
  }
  .pricing__prices__price {
    height: 500px;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .pricing__prices__price h1 {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 0;
  }
  .pricing__prices__price h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .pricing__prices__price p {
    font-size: 15px;
    color: gray;
    margin-bottom: 0;
  }
  .pricing__prices__price ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
  .pricing__prices__price ul li {
    color: gray;
    margin-bottom: 30px;
  }
  .pricing__prices__price ul li:not(:last-child) {
    margin-bottom: 20px;
  }
  .pricing__prices__price button {
    padding: 18px 50px;
    background-color: #31d8da;
    border-radius: 50px;
    border: none;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .pricing__text__section {
    width: 300px;
  }
  .pricing__prices {
    grid-template-columns: repeat(1, 350px);
  }
  .pricing__prices__price h1 {
    font-weight: 400;
  }
  .pricing__prices__price h2 {
    font-weight: 300;
  }
}

.callback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  align-items: center;
  justify-content: center;
}

.callback__section {
  position: relative;
  width: 600px;
  height: 380px;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callback__section__closebtn {
  position: absolute;
  cursor: pointer;
  top: -25px;
  right: 0;
  width: 15px;
  height: 20px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callback__section__closebtn span {
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.callback__section__closebtn span:first-child {
  transform: rotate(135deg);
}

.callback__section__closebtn span:last-child {
  transform: rotate(-135deg);
}

.callback__section h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 0;
}

.callback__section p {
  color: gray;
  margin-bottom: 20px;
}

.callback__section form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callback__section form input[type="text"] {
  width: calc(100% - 20px);
  height: 50px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: gray;
  padding-left: 20px;
}

.callback__section form input[type="text"]::placeholder {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

.callback__section form .name {
  width: 100%;
}

.callback__section form .number {
  position: relative;
  width: 100%;
}

.callback__section form .number p {
  position: absolute;
  width: 90%;
  bottom: -30px;
  left: 0;
  font-size: 12px;
  color: #2fc39e;
}

.callback__section form input[type="submit"] {
  padding: 23px 55px;
  background-color: #31d8da;
  border: none;
  border-radius: 50px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .callback__section {
    width: 650px;
    height: 320px;
    padding: 0 10px;
  }
  .callback__section form input[type="text"] {
    height: 40px;
  }
  .callback__section form input[type="submit"] {
    padding: 15px 45px;
  }
  .callback__section form .number p {
    text-align: left;
  }
  .callback__section h1 {
    font-size: 20px;
  }
  .callback__section p {
    font-size: 15px;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .callback__section {
    width: 570px;
  }
  .callback__section h1 {
    font-weight: 300;
  }
}

@media only screen and (max-width: 620px) {
  .callback__section {
    width: 85%;
    left: 0;
  }
}

.call {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 80px;
  height: 80px;
  z-index: 3;
  border-radius: 50px;
  background-color: white;
  box-shadow: -1px 5px 17px -3px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -1px 5px 17px -3px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -1px 5px 17px -3px rgba(0, 0, 0, 0.72);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call.active-80 {
  height: 80px;
}

.call.active-220 {
  height: 220px;
}

.call.active-300 {
  height: 300px;
}

.call i {
  font-size: 40px;
  color: #31d8da;
}

.call__hidden {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: auto;
  transition: 300ms transform;
}

.call__hidden__socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 0;
  transform: scaleY(0);
  width: 100%;
  bottom: 0;
  margin-top: 20px;
  border-top: 1px solid #d9d9d9;
}

.call__hidden__socials a i {
  font-size: 40px !important;
  margin: 0 !important;
}

.call__hidden__socials a i:hover {
  filter: brightness(125%);
}

.call__hidden__socials.active {
  transform: scaleY(1);
  background-color: white;
  height: 80px;
}

.call__hidden .user {
  opacity: 0;
}

.call__hidden .arrow {
  opacity: 0;
  z-index: 3;
  color: black;
  cursor: pointer;
  bottom: 0;
  font-size: 20px;
}

.call__hidden .arrow:hover {
  color: #31d8da;
}

.call__hidden .arrow.rotate {
  transform: rotate(180deg);
}

.call__hidden i {
  font-size: 80px;
}

.call__hidden h3 {
  font-size: 17px;
  font-weight: 100;
  margin: 0;
  margin-top: 10px;
}

.call__hidden p {
  font-size: 13px;
  color: gray;
  margin: 0;
  margin-bottom: 10px;
}

.call__hidden div {
  display: flex;
  align-items: center;
  color: #828282;
  font-size: 15px;
  letter-spacing: 1;
}

.call__hidden div a {
  color: gray;
}

.call__hidden div a:hover {
  color: #31d8da;
}

.call__hidden div a:hover i {
  color: #31d8da;
}

.call__hidden div i {
  cursor: pointer;
  font-size: 10px;
  color: gray;
  margin-right: 6px;
}

.call__hidden__closebtn {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 10px;
  width: 12px;
  height: 20px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call__hidden__closebtn:hover span {
  background: #31d8da;
}

.call__hidden__closebtn span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.call__hidden__closebtn span:first-child {
  transform: rotate(135deg);
}

.call__hidden__closebtn span:last-child {
  transform: rotate(-135deg);
}

@media (max-width: 700px) {
  .call {
    width: 70px;
    height: 70px;
    bottom: 45px;
    left: 15px;
  }
}

.why__choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.why__choose__tittle {
  width: 100%;
  display: flex;
  text-align: center;
}

.why__choose__tittle__left {
  width: 30%;
}

.why__choose__tittle__middle {
  width: 40%;
}

.why__choose__tittle__middle h1 {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 40px;
}

.why__choose__tittle__middle h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #31d8da;
}

.why__choose__tittle__middle p {
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
}

.why__choose__tittle__right {
  width: 30%;
}

.why__choose__reasons {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.why__choose__reasons__reason {
  width: 25%;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why__choose__reasons__reason__first {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why__choose__reasons__reason__first img {
  width: 100px;
}

.why__choose__reasons__reason__second {
  width: 100%;
  height: 50%;
}

.why__choose__reasons__reason__second h2 {
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 10px;
}

.why__choose__reasons__reason__second p {
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #828282;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
}

@media (max-width: 1000px) {
  .why__choose__tittle__left {
    width: 25%;
  }
  .why__choose__tittle__middle {
    width: 50%;
  }
  .why__choose__tittle__middle h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .why__choose__tittle__right {
    width: 25%;
  }
  .why__choose__reasons__reason {
    width: 28%;
  }
  .why__choose__reasons__reason h2 {
    font-size: 17px;
  }
  .why__choose__reasons__reason p {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .why__choose__tittle__left {
    width: 20%;
  }
  .why__choose__tittle__middle {
    width: 60%;
  }
  .why__choose__tittle__middle h1 {
    font-size: 20px;
  }
  .why__choose__tittle__middle p {
    font-size: 15px;
  }
  .why__choose__tittle__right {
    width: 20%;
  }
  .why__choose__reasons {
    height: 250px;
  }
  .why__choose__reasons__reason {
    height: 250px;
  }
  .why__choose__reasons__reason__first {
    height: 40%;
  }
  .why__choose__reasons__reason__first img {
    width: 70px;
  }
  .why__choose__reasons__reason__second {
    height: 60%;
  }
  .why__choose__reasons__reason__second p {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .why__choose__tittle__left {
    width: 5%;
  }
  .why__choose__tittle__middle {
    width: 90%;
  }
  .why__choose__tittle__middle h1 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .why__choose__tittle__middle p {
    font-size: 15px;
    font-weight: 300;
  }
  .why__choose__tittle__right {
    width: 5%;
  }
  .why__choose__reasons {
    height: 100%;
    flex-direction: column;
    gap: 0;
  }
  .why__choose__reasons__reason {
    width: 100%;
  }
  .why__choose__reasons__reason__first {
    height: 50%;
  }
  .why__choose__reasons__reason__second {
    height: 50%;
  }
  .why__choose__reasons__reason h2 {
    font-size: 17px;
  }
  .why__choose__reasons__reason p {
    font-size: 15px;
  }
  .why__choose__reasons__reason img {
    width: 90px;
  }
}

.driving__lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 150px;
  gap: 50px;
}

.driving__lessons__tittle h1 {
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-bottom: 50px;
}

.driving__lessons__tittle h1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: #31d8da;
}

.driving__lessons__tittle p {
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.driving__lessons__lessons {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.driving__lessons__lessons__lesson {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.driving__lessons__lessons__lesson__left {
  width: 20%;
  height: 100%;
}

.driving__lessons__lessons__lesson__right {
  width: 80%;
}

.driving__lessons__lessons__lesson h2 {
  margin: 0;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
}

.driving__lessons__lessons__lesson p {
  width: 100%;
  text-overflow: clip;
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #828282;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
}

.driving__lessons__lessons__lesson a {
  color: #31d8da;
}

@media (min-width: 1700px) {
  .driving__lessons {
    padding: 140px 300px;
  }
}

@media (max-width: 1600px) {
  .driving__lessons {
    padding: 100px 150px;
  }
}

@media (max-width: 1450px) {
  .driving__lessons {
    padding: 100px 30px;
  }
}

@media (max-width: 1070px) {
  .driving__lessons__tittle h1 {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .driving__lessons__tittle h1::after {
    width: 40px;
  }
  .driving__lessons__tittle p {
    font-size: 16px;
  }
  .driving__lessons__lessons__lesson {
    gap: 30px;
  }
  .driving__lessons__lessons__lesson__left img {
    width: 80px;
  }
  .driving__lessons__lessons__lesson h2 {
    font-size: 20px;
  }
  .driving__lessons__lessons__lesson p {
    font-size: 14px;
  }
  .driving__lessons__lessons__lesson a {
    color: #31d8da;
  }
}

@media (max-width: 970px) {
  .driving__lessons {
    padding: 40px 20px;
  }
  .driving__lessons__lessons {
    gap: 20px;
  }
  .driving__lessons__lessons__lesson {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .driving__lessons__lessons__lesson__left img {
    width: 80px;
  }
  .driving__lessons__lessons__lesson h2 {
    font-size: 17px;
  }
  .driving__lessons__lessons__lesson p {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0px;
  }
  .driving__lessons__lessons__lesson a {
    color: #31d8da;
  }
}

@media (max-width: 870px) {
  .driving__lessons__lessons {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .driving__lessons__lessons__lesson img {
    width: 100px;
  }
  .driving__lessons__lessons__lesson h2 {
    font-size: 20px;
  }
  .driving__lessons__lessons__lesson p {
    font-size: 15px;
  }
  .driving__lessons__lessons__lesson a {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .driving__lessons__lessons {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .driving__lessons__lessons__lesson {
    gap: 30px;
  }
  .driving__lessons__lessons__lesson img {
    width: 80px;
  }
  .driving__lessons__lessons__lesson h2 {
    font-size: 20px;
  }
  .driving__lessons__lessons__lesson p {
    font-size: 15px;
  }
  .driving__lessons__lessons__lesson a {
    font-size: 16px;
  }
}

.instructors__container {
  background: #f2f2f2;
  padding: 60px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructors__container__instructors {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructors__container__instructors__tittle h3 {
  font-size: 30px;
  font-weight: 300;
  position: relative;
  margin-bottom: 40px;
}

.instructors__container__instructors__tittle h3::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #31d8da;
  left: 0;
  bottom: -15px;
}

.instructors__container__instructors__instructors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.instructors__container__instructors__instructors__instructor {
  height: max-content;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.instructors__container__instructors__instructors__instructor img {
  width: 100%;
  height: 60%;
}

.instructors__container__instructors__instructors__instructor h3 {
  margin-bottom: 5px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
}

.instructors__container__instructors__instructors__instructor p {
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #828282;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0px;
  margin: 0;
}

@media (max-width: 1040px) {
  .instructors__container {
    padding: 40px 8px;
  }
  .instructors__container__instructors__tittle h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .instructors__container__instructors__instructors__instructor h3 {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0px;
    margin-bottom: 0;
  }
  .instructors__container__instructors__instructors__instructor p {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0px;
  }
}

@media (max-width: 770px) {
  .instructors__container {
    padding: 50px 0;
  }
  .instructors__container__instructors__tittle h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .instructors__container__instructors__instructors {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .instructors__container__instructors__instructors__instructor h3 {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0px;
    margin-bottom: 0;
  }
  .instructors__container__instructors__instructors__instructor p {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0px;
  }
}

footer {
  position: relative;
  background: #18181a;
  padding: 100px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer {
  height: 70%;
  max-width: 1200px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
}

footer .footer__col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .footer__col1__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer .footer__col1__logo__left {
  display: flex;
  align-items: center;
}

footer .footer__col1__logo__right h2 {
  font-size: 23px;
  margin: 0;
}

footer .footer__col1__logo__right h3 {
  font-size: 13px;
  font-weight: 100;
  margin: 0;
}

footer .footer__col1__socials {
  display: flex;
  color: white;
  gap: 15px;
}

footer .footer__col1__socials a {
  font-size: 12px;
}

footer .footer__col1 p {
  color: #bdbdbd;
}

footer .footer__col2 {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

footer .footer__col2__tittle h2 {
  font-size: 18px;
  font-weight: 300;
}

footer .footer__col2__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 15px;
}

footer .footer__col2 a {
  color: #bdbdbd;
}

footer .footer__col2 i {
  margin-right: 10px;
}

footer .footer__col3 {
  display: flex;
  flex-direction: column;
}

footer .footer__col3__tittle h2 {
  font-size: 18px;
  font-weight: 300;
}

footer .footer__col3__contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer .footer__col3__contacts__address {
  display: flex;
  gap: 20px;
}

footer .footer__col3__contacts__address__left {
  color: #31d8da;
}

footer .footer__col3__contacts__address__right h3 {
  font-size: 15px;
  color: #bdbdbd;
  font-weight: 200;
  margin: 0;
  margin-bottom: 6px;
}

footer .footer__col3__contacts__address__right p {
  margin: 0;
}

footer .footer__col3__contacts__email {
  display: flex;
  gap: 20px;
}

footer .footer__col3__contacts__email__left {
  color: #31d8da;
}

footer .footer__col3__contacts__email__right h3 {
  font-size: 15px;
  color: #bdbdbd;
  font-weight: 200;
  margin: 0;
}

footer .footer__col3__contacts__email__right a {
  transition: 300ms linear;
  margin: 0;
}

footer .footer__col3__contacts__email__right a:hover {
  color: #31d8da;
}

footer .footer__copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #0c0c0d;
}

footer .footer__copyright h3 {
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}

@media (max-width: 860px) {
  footer .footer {
    grid-template-columns: 1fr;
  }
  footer .footer__col2 {
    grid-row: 2;
    padding-left: 0;
  }
  footer .footer__col3__tittle {
    margin-bottom: 15px;
  }
  footer .footer__col3__contacts__address {
    width: 100%;
    gap: 100px;
  }
  footer .footer__col3__contacts__address__left {
    font-size: 20px;
  }
  footer .footer__col3__contacts__address__right h3 {
    font-size: 13px;
  }
  footer .footer__col3__contacts__address__right p {
    font-size: 12px;
  }
  footer .footer__col3__contacts__address__right br {
    display: none;
  }
  footer .footer__col3__contacts__email {
    gap: 100px;
  }
  footer .footer__col3__contacts__email__left {
    font-size: 20px;
  }
  footer .footer__col3__contacts__email__right h3 {
    font-size: 13px;
  }
  footer .footer__col3__contacts__email__right a {
    font-size: 12px;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 120px 20px;
}

.testimonials__tittle h1 {
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0px;
}

.testimonials__tittle h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 55px;
  height: 2px;
  background-color: #31d8da;
  transform: translateX(-50%);
}

.testimonials__testimonials {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.testimonials__testimonials__testimonial {
  width: 50%;
  height: 200px;
  background-color: #f2f2f2;
  padding: 50px 35px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.testimonials__testimonials__testimonial__left i {
  color: #31d8da;
  font-size: 40px;
}

.testimonials__testimonials__testimonial__right {
  flex-direction: column;
}

.testimonials__testimonials__testimonial__right p {
  margin: 0;
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.testimonials__testimonials__testimonial__right h2 {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 0px;
}

@media (max-width: 1300px) {
  .testimonials__testimonials {
    width: 1100px;
  }
  .testimonials__testimonials__testimonial {
    height: 180px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 16px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .testimonials__testimonials {
    width: 1050px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 16px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 1090px) {
  .testimonials__testimonials {
    width: 1000px;
  }
  .testimonials__testimonials__testimonial {
    height: 170px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 15px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 25px;
    margin-bottom: 0;
  }
}

@media (max-width: 1050px) {
  .testimonials__testimonials {
    width: 900px;
  }
  .testimonials__testimonials__testimonial {
    height: 160px;
    padding: 30px 25px;
  }
  .testimonials__testimonials__testimonial__left i {
    font-size: 25px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 14px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 950px) {
  .testimonials__testimonials {
    width: 800px;
  }
  .testimonials__testimonials__testimonial {
    height: 160px;
    padding: 30px 25px;
  }
  .testimonials__testimonials__testimonial__left i {
    font-size: 25px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 14px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .testimonials__testimonials {
    width: 750px;
  }
  .testimonials__testimonials__testimonial {
    height: 160px;
    padding: 30px 25px;
  }
  .testimonials__testimonials__testimonial__left i {
    font-size: 25px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 13px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 850px) {
  .testimonials {
    padding: 120px 0;
  }
  .testimonials__testimonials {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .testimonials__testimonials__testimonial {
    width: calc(95% - 100px);
    height: 130px;
    padding: 30px 50px;
  }
  .testimonials__testimonials__testimonial__left i {
    font-size: 40px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 13px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .testimonials {
    padding: 120px 0;
  }
  .testimonials__testimonials {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .testimonials__testimonials__testimonial {
    width: calc(95% - 40px);
    height: 170px;
    padding: 30px 20px;
  }
  .testimonials__testimonials__testimonial__left i {
    font-size: 40px;
  }
  .testimonials__testimonials__testimonial__right p {
    font-size: 13px;
  }
  .testimonials__testimonials__testimonial__right h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */