.why__choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 50px;
  background-color: #f2f2f2;
  padding: 80px 0;

  &__tittle {
    width: 100%;
    display: flex;
    text-align: center;

    &__left {
      width: 30%;
    }
    &__middle {
      width: 40%;

      h1 {
        position: relative;
        font-size: 30px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        margin: 0;
        margin-bottom: 40px;

        &::after {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          width: 50px;
          height: 2px;
          background-color: #31d8da;
        }
      }
      p {
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-family: "Poppins", sans-serif;
        color: #333333;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    &__right {
      width: 30%;
    }
  }

  &__reasons {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;

    &__reason {
      width: 25%;
      height: 300px;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__first {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100px;
          // aspect-ratio: 1/1;
        }
      }

      &__second {
        width: 100%;
        height: 50%;

        h2 {
          font-size: 20px;
          text-decoration: none;
          font-weight: 600;
          font-style: normal;
          margin-bottom: 10px;
        }

        p {
          font-weight: 300;
          font-style: normal;
          font-family: "Poppins", sans-serif;
          color: #828282;
          font-size: 16px;
          line-height: 1.4;
          letter-spacing: 0px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .why__choose {
    &__tittle {
      &__left {
        width: 25%;
      }
      &__middle {
        width: 50%;

        h1 {
          font-size: 25px;
          margin-bottom: 20px;
        }
      }
      &__right {
        width: 25%;
      }
    }

    &__reasons {
      &__reason {
        width: 28%;

        h2 {
          font-size: 17px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .why__choose {
    &__tittle {
      &__left {
        width: 20%;
      }
      &__middle {
        width: 60%;

        h1 {
          font-size: 20px;
        }
        p {
          font-size: 15px;
        }
      }
      &__right {
        width: 20%;
      }
    }

    &__reasons {
      height: 250px;

      &__reason {
        height: 250px;
        &__first {
          height: 40%;
          img {
            width: 70px;
          }
        }

        &__second {
          height: 60%;

          // h2{
          //   font-size: 17px;
          // }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .why__choose {
    &__tittle {
      &__left {
        width: 5%;
      }
      &__middle {
        width: 90%;

        h1 {
          font-size: 25px;
          margin-bottom: 30px;
        }
        p {
          font-size: 15px;
          font-weight: 300;
        }
      }
      &__right {
        width: 5%;
      }
    }

    &__reasons {
      height: 100%;
      flex-direction: column;
      gap: 0;

      &__reason{
        width: 100%;

        &__first{
          height: 50%;
        }
        &__second{
          height: 50%;
        }

        h2{
          font-size: 17px;
        }
        p{
          font-size: 15px;
        }
        img{
          width: 90px;
        }
      }
    }
  }
}
@media (max-width: 650px) {

}
