.about-section {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 40% 35%;
  padding: 8% 0;
  gap: 5%;

  &__left {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    h1 {
      position: relative;
      font-weight: 100;
      font-size: 30px;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 60px;
        height: 2px;
        background: #31d8da;
      }
    }
    h4 {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
      font-weight: 100;
      color: #333333;
      margin-bottom: 0;
    }
    p {
      color: #828282;
      font-size: 17px;
      line-height: 1.6;
      letter-spacing: 0px;
      margin-bottom: 50px;
    }
    a {
      width: 100px;
      text-align: center;
      font-size: 14px;
      background-color: #31d8da;
      padding: 20px 30px;
      border-radius: 100px;
    }
  }
  &__offers {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      margin: 0;
      font-size: 17px;
    }
    i {
      font-size: 15px;
      color: #31d8da;
      font-weight: bold;
    }
  }
}

//  BIG SCREENS
@media only screen and (max-width: 1600px) {
  .about-section {
    padding: 8% 0;
  }
}
@media only screen and (max-width: 1400px) {
  .about-section {
    padding: 8% 0;
  }
}

//  MEDIUM SCREENS
@media only screen and (max-width: 1100px) {
  .about-section {
    height: 500px;
    padding: 50px 0;
    grid-template-columns: 45% 32%;

    &__right {
      h1 {
        font-size: 20px;
        font-weight: 500;
      }
      h4 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .about-section {
    padding: 10% 0;
    grid-template-columns: 45% 32%;

    &__right {
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .about-section {
    height: 800px;
    padding: 7% 0;
    grid-template-columns: 1fr;

    &__left {
      h1 {
        &::after {
          width: 70px;
        }
      }
      p {
        font-size: 14px;
        line-height: 1.6;
      }
    }
    &__right {
      width: calc(100% - 30px);
      padding-left: 30px;
    }
  }
}

// SMALL SCREENS
@media only screen and (max-width: 600px) {
  .about-section {

    &__right {
      width: calc(100% - 10px);
      padding-left: 10px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .about-section {
    height: 350px;

    &__right {
      width: calc(100% - 10px);
      padding-left: 10px;
    }
  }
}
