.pricing{
    display: flex;
    flex-direction: column;
    background: rgba($color: #9e9b9b, $alpha: .2);
    padding: 3rem;

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
        text-align: center;

        &__section{
            width: 600px;

            h1{
                position: relative;
                font-size: 35px;
                font-weight: lighter;
    
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50px;
                    height: 2px;
                    background-color: #31d8da;
                }
            }
            p{
                font-weight: 300;
                font-style: normal;
                font-family: 'Poppins', sans-serif;
                color: #333333;
                font-size: 18px;
                line-height: 1.5;
                letter-spacing: 0px;
            }
        }
    }

    &__prices{
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 2rem;
        justify-content: center;
        
        &__price{
            position: relative;
            height: 500px;
            padding: 30px 20px;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #31d8da;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: 200ms linear;
            }

            &:hover::after{
                opacity: 1;
            }

            h1{
                font-size: 35px;
                font-weight: 100;
                margin-bottom: 0;
            }
            h2{
                font-size: 40px;
                font-weight: 500;
            }
            p{
                font-size: 15px;
                color: gray;
                margin-bottom: 0;
            }
            ul{
                width: 100%;
                list-style-type: none;
                padding: 0;

                li{
                    color: gray;                    
                    margin-bottom: 30px;
                }
                li:not(:last-child){
                    margin-bottom: 20px;
                }
            }
            button{
                padding: 18px 50px;
                background-color: #31d8da;
                border-radius: 50px;
                border: none;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: #989da2;
                }
            }
        }
    }
}

// BIG SCREENS
@media only screen and (max-width: 1350px) {
    .pricing{
        &__prices{
            grid-template-columns: repeat(3, 370px);
        }
    }
}
@media only screen and (max-width: 1250px) {
    .pricing{
        &__prices{
            grid-template-columns: repeat(3, 330px);
        }
    }
}
@media only screen and (max-width: 1150px) {
    .pricing{
        &__prices{
            grid-template-columns: repeat(3, 320px);
        }
    }
}

//  MEDIUM SCREENS
@media only screen and (max-width: 1100px) {
    .pricing{
        &__text{
            &__section{
                width: 500px;
            }
        }
        &__prices{
            gap: 1.2rem;
            &__price{
                height: 400px;

                h1{
                    font-size: 25px;
                }
                h2{
                    font-size: 30px;
                    margin-bottom: 0;
                }
                p{
                    font-size: 13px;
                }
                ul{
                    width: 100%;
                    list-style-type: none;
                    padding: 0;
    
                    li{
                        font-size: 15px;
                        color: gray;                    
                        margin-bottom: 30px;
                    }
                    li:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
                button{
                    padding: 18px 50px;
                    background-color: #31d8da;
                    border-radius: 50px;
                    border: none;
                    color: white;
                }
            }
        }
    }
}
@media only screen and (max-width: 1062px) {
    .pricing{
        &__prices{
            grid-template-columns: repeat(3, 270px);

            &__price{
                height: 350px;

                p{
                    margin-bottom: -18px;
                }
                ul{
                    margin-bottom: 0;
                    li{
                        font-size: 14px;
                    }
                }
                button{
                    padding: 15px 35px;
                }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .pricing{
        &__prices{
            grid-template-columns: repeat(2, 300px);
            gap: 1.2rem;

            &__price{
                height: 350px;

                h1{
                    font-size: 25px;
                }
                h2{
                    font-size: 30px;
                    margin-bottom: 0;
                }
                p{
                    font-size: 13px;
                }
                ul{
                    width: 100%;
                    list-style-type: none;
                    padding: 0;
    
                    li{
                        font-size: 15px;
                        color: gray;          
                    }
                    li:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
                button{
                    padding: 18px 50px;
                    background-color: #31d8da;
                    border-radius: 50px;
                    border: none;
                    color: white;
                }       
            }
        }
    }

}

@media only screen and (max-width: 720px) {
    .pricing{
        &__prices{
            grid-template-columns: repeat(1, 400px);

            &__price{
                height: 500px;
                padding: 30px 20px;
                text-align: center;
    
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
    
                h1{
                    font-size: 35px;
                    font-weight: 100;
                    margin-bottom: 0;
                }
                h2{
                    font-size: 40px;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 15px;
                    color: gray;
                    margin-bottom: 0;
                }
                ul{
                    width: 100%;
                    list-style-type: none;
                    padding: 0;
    
                    li{
                        color: gray;                    
                        margin-bottom: 30px;
                    }
                    li:not(:last-child){
                        margin-bottom: 20px;
                    }
                }
                button{
                    padding: 18px 50px;
                    background-color: #31d8da;
                    border-radius: 50px;
                    border: none;
                    color: white;
                }
            }
        }
    }
}

// SMALL SCREENS
@media only screen and (max-width: 600px) {
    .pricing{
        &__text{
            &__section{
                width: 300px;
            }
        }

        &__prices{
            grid-template-columns: repeat(1, 350px);
            &__price{
                h1{
                    font-weight: 400;
                }
                h2{
                    font-weight: 300;
                }
            }
        }
    }
}
