.nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 120px;
  z-index: 12;

  display: flex;
  align-self: center;
  justify-content: space-around;
  gap: 15%;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    gap: 20px;

    .logo__left {
      display: flex;
      align-items: center;
    }

    .logo__right h2 {
      font-size: 27px;
      margin: 0;
      color: black;
    }
    .logo__right h3 {
      font-size: 15px;
      font-weight: 100;
      margin: 0;
      color: gray;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 60px;
    z-index: 2;
    transform-origin: top;

    .pricing-link {
      color: #31d8da;
    }

    &.open-nav__links {
      height: 350px;
      bottom: -370px;
    }

    &.active {
      transform: scaleY(1);
    }

    a {
      font-size: 15px;
      color: black;

      &:hover {
        color: #31d8da;
      }
    }

    .about {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      gap: 5px;

      .about__hover {
        background-color: white;
        position: absolute;
        color: gray;
        bottom: -80px;
        left: -30px;
        width: 140px;
        height: 60px;
        padding: 10px 20px;
        box-shadow: 0px 0px 5px -1px rgba(49, 216, 218, 0.75);
        -webkit-box-shadow: 0px 0px 5px -1px rgba(49, 216, 218, 0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(49, 216, 218, 0.75);
        display: none;
        flex-direction: column;
        justify-content: space-around;
      }

      &:hover .about__hover {
        display: flex;

        a {
          color: gray;

          &:hover {
            color: #31d8da;
          }
        }
      }

      i {
        cursor: pointer;
        color: black;
        font-size: 10px;
        margin-top: 2px;
      }
    }
    .mobile-about__hover {
      width: 100%;
      height: 0;
      transform: scaleY(0);
      transform-origin: top;

      display: none;
      flex-direction: column;
      align-items: center;

      a {
        width: calc(100% - 50px);
        padding-left: 50px;
        height: 35px;
        display: flex;
        align-items: center;
      }
      &.open {
        display: flex;
        height: 70px;
        transform: scale(1);
      }
    }
  }
  &__menu {
    position: absolute;
    right: 50px;
    width: 25px;
    height: 40px;
    cursor: pointer;

    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    span {
      width: 25px;
      height: 3px;
      background-color: white;
    }
  }
}

.section-header {
  width: 100%;
  height: 60vh;
  background-image: url(../images/section-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    gap: 20px;
    text-align: center;

    h6 {
      position: relative;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 100;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -15px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        width: 70px;
        height: 2px;
        background-color: #31d8da;
      }
    }

    h1 {
      font-size: 50px;
      font-weight: 500;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      letter-spacing: 0px;
      margin: 0;
    }
    a {
      font-size: 14px;
      background-color: #31d8da;
      padding: 20px 45px;
      border-radius: 100px;
    }
  }
}

//  BIG SCREENS
@media (min-width: 1600px) {
  .nav {
    width: calc(100% - 20%);
    padding: 0 10%;
    justify-content: space-between;
    &__logo {
      margin-left: 0;
    }
    &__links{
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .nav {
    width: calc(100% - 120px);
    padding: 0 60px;
    gap: 0;
    justify-content: space-between;
    &__links {
      gap: 40px;
    }

    &__logo {
      margin-left: 0 !important;
    }
  }

}

@media (max-width: 1200px) {
  .nav {
    width: calc(100% - 40px);
    height: 100px;
    padding: 0 20px;

    &__links {
      gap: 35px;
      a {
        font-size: 13px;
      }
    }
  }
}
  
  //  MEDIUM SCREENS
  @media only screen and (max-width: 1000px) {
    .nav {
      position: absolute;
      align-items: center;

      &__links {
        background-color: white;
        position: absolute;
        bottom: -310px;
        width: 95%;
        height: 300px;
        padding: 0;
        transform: scaleY(0);
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        gap: 0;
        z-index: 4;
  
        .contact-link{
          background-color: #31d8da;
          color: white;
  
          &:hover{
            color: white;
          }
        }
        .pricing-link{
            background-color: #31d8da;
            color: white;
        }
        a {
          color: gray;
          width: calc(100% - 20px);
          height: 100%;
          padding-left: 20px;
          display: flex;
          align-items: center;
        }
  
        .about:hover .about__hover {
          display: none;
      
          a {
            color: gray;
      
            &:hover {
              color: #31d8da;
            }
          }
        }
        .about {
          width: 100%;
          height: 100%;
          padding: 0;
  
          a {
            width: calc(100% - 20px);
            padding-left: 20px;
            height: 100%;
          }
          i {
            color: black;
            margin-right: 30px;
            font-size: 15px;
          }
          &:hover .about__hover {
            display: none;
          }
        }
      }
      &__logo {
        position: absolute;
        left: 50px;
      }
      .nav {
        &__menu {
          display: flex;
  
          span{
            background-color: black;
          }
        }
      }
    }
    .section-header {
      height: 50vh;
      &__content {
  
        h6 {
          font-size: 15px;
        }
        h1 {
          font-size: 40px;
        }
      }
    }
  }
  
  // SMALL SCREENS
  @media only screen and (max-width: 600px) {
    .section-header {
      height: 40vh;
      &__content {
        width: 80%;
  
        h1 {
          font-size: 35px;
        }
      }
    }
  }
  @media (max-width: 400px){
    .nav{
      &__logo {
        left: 15px;
      }
      &__menu {
        right: 30px;
      }
      .about{
        i{
          font-size: 18px;
        }
      }
      .about{
        i{
          font-size: 18px;
        }
      }
    }
  }
  