.about-section {
  height: 600px;

  display: grid;
  justify-content: center;
  grid-template-columns: 35% 60%;
  padding: 8% 17%;
  gap: 5%;

  &__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      position: relative;
      font-weight: 100;
      font-size: 30px;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 45px;
        height: 2px;
        background: #31d8da;
      }
    }
    h4 {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
      font-weight: 100;
      color: #333333;
      margin-bottom: 0;
    }
    p {
      color: gray;
      font-size: 17px;
      font-style: normal;
      line-height: 1.4;
      margin-bottom: 50px;
    }
    a {
      width: 100px;
      text-align: center;
      font-size: 14px;
      background-color: #31d8da;
      padding: 20px 30px;
      border-radius: 100px;
    }
  }
  &__right {
    img {
      width: 99%;
    }
  }
}

//  BIG SCREENS
@media only screen and (max-width: 1600px) {
    .about-section{
        padding: 8% 10%;
    }
}
@media only screen and (max-width: 1400px) {
    .about-section{
        padding: 8% 5%;
    }
}

//  MEDIUM SCREENS
@media only screen and (max-width: 1100px) {
    .about-section{
        padding: 6% 40px;

        h1{
            font-size: 25px;
            font-weight: 500;
        }
        h4{
            font-size: 17px;
        }
        p{
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .about-section{
        padding: 5% 20px;

        &__left{
            h4{
                font-size: 16px;
            }
            p{
                font-size: 13px;
            }
        }
        &__right{
            img{
                height: 340px;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .about-section{
        grid-template-columns: 1fr;

        &__left{
            h1{
                &::after{
                    width: 70px;
                }
            }
            p{
                font-size: 14px;
                line-height: 1.6;
            }
        }
    }
}

// SMALL SCREENS
@media only screen and (max-width: 600px) {
    .about-section{
        padding: 5% 10px;
    }
}
