.call {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 80px;
  height: 80px;
  z-index: 3;

  // .active {
  //   background-color: red;
  //   width: 270px;
  //   height: 220px;
  // }

  &.active-80{
    height: 80px;
  }
  &.active-220{
    height: 220px;
  }
  &.active-300{
    height: 300px;
  }

  border-radius: 50px;
  background-color: white;
  box-shadow: -1px 5px 17px -3px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -1px 5px 17px -3px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -1px 5px 17px -3px rgba(0, 0, 0, 0.72);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 40px;
    color: #31d8da;
  }

  &__hidden {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: bottom left;
    background-color: white;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // padding-top: 30px;
    cursor: auto;
    transition: 300ms transform;

    &__socials {
      // display: none !important;
      display: flex;
      justify-content: center;
      gap: 20px;
      height: 0;
      transform: scaleY(0);
      width: 100%;
      bottom: 0;
      margin-top: 20px;
      border-top: 1px solid #d9d9d9;

      a {
        i {
          font-size: 40px !important;
          margin: 0 !important;

          &:hover {
            filter: brightness(125%);
          }
        }
      }
      &.active {
        transform: scaleY(1);
        background-color: white;

        height: 80px;
      }
    }
    .user {
      opacity: 0;
    }
    .arrow {
      opacity: 0;
      z-index: 3;
      color: black;
      // position: absolute;
      cursor: pointer;
      bottom: 0;
      font-size: 20px;

      &:hover {
        color: #31d8da;
      }
      &.rotate {
        transform: rotate(180deg);
      }
    }
    i {
      font-size: 80px;
    }
    h3 {
      font-size: 17px;
      font-weight: 100;
      margin: 0;
      margin-top: 10px;
    }
    p {
      font-size: 13px;
      color: gray;
      margin: 0;
      margin-bottom: 10px;
    }
    div {
      display: flex;
      align-items: center;
      color: #828282;
      font-size: 13px;
      letter-spacing: 1;

      i {
        cursor: pointer;
        font-size: 10px;
        color: gray;
        margin-right: 6px;
      }
    }
    &__closebtn {
      cursor: pointer;
      position: absolute;
      z-index: 3;
      top: 8px;
      right: 10px;
      width: 12px;
      height: 20px;
      color: white;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover span {
        background: #31d8da;
      }

      span {
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:first-child {
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &:last-child {
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .call {
    width: 70px;
    height: 70px;
    bottom: 45px;
    left: 15px;

    // i{
    //   font-size: 35px;
    // }
  }
}
