.driving__lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 150px;
  gap: 50px;

  &__tittle {
    h1 {
      position: relative;
      font-weight: 500;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      color: #333333;
      font-size: 30px;
      line-height: 1.2;
      letter-spacing: 0px;
      margin-bottom: 50px;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 60px;
        height: 2px;
        background-color: #31d8da;
      }
    }
    p {
      font-weight: 300;
      font-style: normal;
      font-family: "Poppins", sans-serif;
      color: #333333;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0px;
    }
  }

  &__lessons {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    &__lesson {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: 40px;

      &__left {
        width: 20%;
        height: 100%;
      }
      &__right {
        width: 80%;
      }

      h2 {
        margin: 0;
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        font-style: normal;
      }
      p {
        width: 100%;
        text-overflow: clip;
        font-weight: 300;
        font-style: normal;
        font-family: "Poppins", sans-serif;
        color: #828282;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0px;
      }
      a {
        color: #31d8da;
      }
    }
  }
}

@media (min-width: 1700px) {
  .driving__lessons {
    padding: 140px 300px;
  }
}
@media (max-width: 1600px) {
  .driving__lessons {
    padding: 100px 150px;
  }
}
@media (max-width: 1450px) {
  .driving__lessons {
    padding: 100px 30px;
  }
}
@media (max-width: 1070px) {
  .driving__lessons {
    &__tittle {
      h1 {
        font-size: 20px;
        margin-bottom: 35px;

        &::after {
          width: 40px;
        }
      }
      p {
        font-size: 16px;
      }
    }

    &__lessons {
      &__lesson {
        gap: 30px;

        &__left {
          img {
            width: 80px;
          }
        }

        h2 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        a {
          color: #31d8da;
        }
      }
    }
  }
}
@media (max-width: 970px) {
  .driving__lessons {
    padding: 40px 20px;
    &__lessons {
      gap: 20px;
      &__lesson {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        &__left {
          img {
            width: 80px;
          }
        }

        h2 {
          font-size: 17px;
        }
        p {
          font-size: 13px;
          line-height: 1.5;
          letter-spacing: 0px;
        }
        a {
          color: #31d8da;
        }
      }
    }
  }
}
@media (max-width: 870px) {
  .driving__lessons {
    &__lessons{
    grid-template-columns: 1fr;
    gap: 30px;

    &__lesson{
      img{
        width: 100px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
      a{
        font-size: 16px;
      }
    }
    }
  }
}
@media (max-width: 670px) {
  .driving__lessons {
    &__lessons{
    grid-template-columns: 1fr;
    gap: 30px;

    &__lesson{
      gap: 30px;
      img{
        width: 80px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
      a{
        font-size: 16px;
      }
    }
    }
  }
}
