.defense {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 2%;

  h1 {
    position: relative;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0px;

    &::after{
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 2px;
        background-color: #31d8da;
    }
  }

  p {
    width: 70%;
    font-size: 20px;
    text-align: center;
    color: gray;
  }
}

@media (max-width: 900px){
    .defense{
        padding: 7% 0;
        h1{
            font-size: 28px;
        }
        p{
            font-size: 18px;
        }
    }
}
@media (max-width: 800px){
    .defense{
        padding: 8% 2%;
        h1{
            font-size: 26px;
        }
        p{
            width: 100%;
            font-size: 16px;
        }
    }
}