.program-course{
    height: 400px;
    margin-bottom: 100px;
    display: flex;
    gap: 40px;

    &__left{
        width: 50%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__right{
        width: 50%;
        height: 100%;
        // padding-top: 2%;
        
        h2{
            position: relative;
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 40px;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 30px;
                height: 2px;
                background-color: #31d8da;
            }
        }
        p{
            color: #828282;
            font-weight: 400;
            margin-bottom: 20px;


            i{
                color: #31d8da;
                font-size: 15px;
                margin-right: 10px;
            }
        }
    }
}
@media (min-width:1400px) {
    .program-course{
        gap: 50px;
        
        &__left{
            width: 40%;
            height: 90%;
        }
        &__right{
            width: 60%;
            padding-top: 0;
        }
    }
}
@media (max-width: 1200px) {
    .program-course{
        height: 300px;
        gap: 50px;

        &__left{
            width: 40%;
        }
        &__right{
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 1000px) {
    .program-course{
        height: 300px;
        gap: 50px;

        &__left{
            width: 45%;
        }
        &__right{
            h2{
                font-size: 25px;
            }
            p{
                width: 60%;
                font-size: 13px;
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 800px) {
    .program-course{
        flex-direction: column;
        height: 600px;

        &__left{
            width: 100%;
            height: 350px;
        }
        &__right{
            width: calc(100% - 5%);
            height: 350px;
            padding-left: 5%;

            h2{
                &::after{
                    width: 50px;
                    bottom: -20px;
                }
            }
            p{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 600px) {
    .program-course{
        flex-direction: column;
        gap: 30px;

        &__left{
            width: 100%;
            height: 300px;
        }
    }
}
@media (min-width: 1700px) {
    .program-course{
        gap: 70px;
    }
}
