.career{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10% 3%;
    gap: 2%;

    &__left{
        width: 30%;
        color: black;

        &__links{
            display: flex;
            flex-direction: column;
            gap: 20px;

            a{
                font-size: 15px;
                color: #31d8da;

                &:hover{
                    color: gray;
                }
            }
        }
    }
    &__right{
        width: 70%;
        color: black;

        display: flex;
        flex-direction: column;
        gap: 40px;

        &__tittle{
            h1{
                position: relative;
                margin: 0;
                font-size: 35px;
                color: rgb(82, 76, 76);
                font-weight: 200;

                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                    width: 45px;
                    height: 2px;
                    background-color: #31d8da;
                }
            }
            p{
                margin-top: 35px;
                font-size: 18px;
                font-weight: lighter;
                color: gray;
            }

        }
        &__box{
            h1{
                font-weight: 600;
                font-style: normal;
                font-family: 'Montserrat', sans-serif;
                color: #000000;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0px;
            }
            p{
                font-weight: 300;
                font-style: normal;
                font-family: 'Poppins', sans-serif;
                color: #828282;
                font-size: 14px;
                line-height: 1.8;
                letter-spacing: 0px;
            }
        }
        .skills{
            i{
                font-size: 10px;
                color: #31d8da;
            }
        }
        &__button{
            button{
                cursor: pointer;
                background: #31d8da;
                border: none;
                border-radius: 50px;
                width: 170px;
                height: 60px;
                color: white;

                &:hover{
                    background-color: #bdbdbd;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .career{
        &__left{
            &__links{
                a{
                    font-size: 13px;
                }
            }
        }
        &__right{
            gap: 15px;
            &__tittle{
                h1{
                    font-size: 20px;

                    &::after{
                        width: 35px;
                    }
                }
                p{
                    font-size: 15px;
                }
            }
            &__box{
                h1{
                    font-size: 16px;
                }
                p{
                    font-size: 13px;
                }
            }
            &__button{
                button{
                    width: 150px;
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .career{
        flex-direction: column;
        gap: 50px;
        padding: 10% 10px;

        &__left{
            width: 100%;
        }
        &__right{
            width: 100%;

            &__tittle{
                h1{
                    font-size: 25px;
                }
                p{
                    font-size: 17px;
                }
            }
            &__box{
                h1{
                    font-size: 18px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}